
  <div class="footer p-3 bg-dark">
    <p class="text-light text-center">Made with ❤️ by The App Brewery</p>
  </div>
</div>

<!--DE LA VERSIUNEA 5, BOOSTRAP NU MAI NECESITA SI jQuery pentru a putea rula-->

<!-- Cod sursa jQuery   !!!!!!!!!Obligatoriu trebuie pus inaintea codului personal de js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--Cod script Boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
