<%- include('partials/head') %>
<!--MAIN CONTAINER------------------------------------------------------------------>
<div class="container-fluid main-container">
    <div class="main-container-inner container">
        <h1 class="text-muted">merge</h1>
    </div>
</div>
<!--MAIN CONTAINER END------------------------------------------------------------------>    
<%- include('partials/footer') %>